[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=dayyass
Group=dayyass
WorkingDirectory=/home/dayyass/app/src
Environment="PATH=/home/dayyass/app/venv/bin"
EnvironmentFile=/home/dayyass/.env
ExecStart=/home/dayyass/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
